<mat-list>
  <!-- headers -->
  <mat-list-item class="header-row">
    <div class="user-info-row header">
      <span>Nombre</span>
      <span>Correo</span>
      <span>Rol</span>
      <span>Empresa</span>
      <span class="actions-header">Acciones</span>
    </div>
  </mat-list-item>

  <!-- Data -->
  <mat-list-item *ngFor="let user of users; trackBy: trackByUserId">
    <div class="user-info-row">
      <span>{{ user.name }}</span>
      <span>{{ user.email }}</span>
      <span>{{ user.role }}</span>
      <span>{{ user.company || "N/A" }}</span>
      <span class="actions">
        <button
          mat-icon-button
          color="primary"
          aria-label="Edit user"
          (click)="openUpdateDialog(user)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </mat-list-item>
</mat-list>
